include "templates/layout/head.html"

<div class="page-content">

include "components/top-header/top-header.html"

include "components/header/header.html"

include "components/home-slider/home-slider.html"

<div class="mb-4">
	
</div>

<div class="container">
	<div class="title--section mb-3">
		Nos catégories
	</div>

	include "components/category-card/category-card.html"

	<div class="title--section mt-4 mb-4">
		Notre sélection de produits
	</div>
	
	<div class="row m-0">
		<div class="col-3 p-0">
			<div class="product-card">
				<div class="product-card_img">
					<img src="./assets/img/headset.png" alt="">
				</div>
				<div class="product-card_category">
					Casques
				</div>
				<div class="product-card_title">
					Sony MDR-ZX330BTB Casque Bluetooth
				</div>
				<div class="product-card_desc">
					540 dhs  640dhs  -15%
				</div>
			</div>
		</div>
		<div class="col-3 p-0">
			
		</div>
		<div class="col-3 p-0">
			
		</div>
		<div class="col-3 p-0">
			
		</div>
	</div>

</div>
	



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><br/>
<br/><br/><br/><br/><br/>

</div>

include "templates/layout/footer.html"
