<div class="home-slider">
	<div class="container">

		<div class="row m-0">
			<div class="col-md-3 pl-0">
				<div class="home-slider_categories">
					<ul>
						<li>
							<span>
								<svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
							</span>
							<span>
								Electronique
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-watch"><use xlink:href="#icon-watch"></use></svg>
							</span>
							<span>
								Accessoires et montres
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-chaussures"><use xlink:href="#icon-chaussures"></use></svg>
							</span>
							<span>
								Chaussures
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-electromenager"><use xlink:href="#icon-electromenager"></use></svg>
							</span>
							<span>
								Electroménager
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-fitness"><use xlink:href="#icon-fitness"></use></svg>
							</span>
							<span>
								Sports
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-cosmetics"><use xlink:href="#icon-cosmetics"></use></svg>
							</span>
							<span>
								Santé et beauté
							</span>
						</li>
						<li>
							<span>
								<svg class="icon icon-meubles"><use xlink:href="#icon-meubles"></use></svg>
							</span>
							<span>
								Meubles et décoration
							</span>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-md-7">
				<div class="banner-carousel owl-carousel">
					<div class="item">
						<img src="./assets/img/slider1.png" alt="">
					</div>
					<div class="item">
						<img src="./assets/img/xiaomi.jpg" alt="">
					</div>
					<div class="item">
						<img src="./assets/img/band4.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-truck-icon2"><use xlink:href="#icon-truck-icon2"></use></svg>
					</div>
					<div class="desc">
						<div>
							Livraison gratuite
						</div>
						<small>
							à partir de 500 dhs
						</small>
					</div>
				</div>

				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-credit-cards"><use xlink:href="#icon-credit-cards"></use></svg>
					</div>
					<div class="desc">
						paiement à la livraison
					</div>
				</div>

				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-support"><use xlink:href="#icon-support"></use></svg>
					</div>
					<div class="desc">
						support 24/7
					</div>
				</div>
			</div>
		</div>

	</div>
	
</div>