<div class="home-slider">
	<div class="container">

		<div class="row m-0">
			<div class="col-lg-3 pl-0">
				<div class="home-slider_categories mb-2 mb-lg-0">
					<ul>
						<li>
							<a href="#">
								<img src="./assets/img/smartphone.svg">
								<span>
									Electronique
								</span>
							</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/watch.svg">
							<span>
								Accessoires et montres
							</span>
						</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/chaussures.svg">
							<span>
								Chaussures
							</span>
						</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/electromenager.svg">
							<span>
								Electroménager
							</span>
						</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/fitness.svg">
							<span>
								Sports
							</span>
						</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/cosmetics.svg">
							<span>
								Santé et beauté
							</span>
						</a>
						</li>
						<li>
							<a href="#">
							<img src="./assets/img/meubles.svg">
							<span>
								Meubles et décoration
							</span>
						</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-lg-7 mb-2 mb-lg-0">
				<div class="banner-carousel owl-carousel">
					<div class="item">
						<img src="./assets/img/slider1.png" alt="">
					</div>
					<div class="item">
						<img src="./assets/img/xiaomi.jpg" alt="">
					</div>
					<div class="item">
						<img src="./assets/img/band4.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 d-flex d-lg-block">
				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-truck-icon2"><use xlink:href="#icon-truck-icon2"></use></svg>
					</div>
					<div class="desc">
						<div>
							Livraison gratuite
						</div>
						<small>
							à partir de 500 dhs
						</small>
					</div>
				</div>

				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-credit-cards"><use xlink:href="#icon-credit-cards"></use></svg>
					</div>
					<div class="desc">
						paiement à la livraison
					</div>
				</div>

				<div class="home-slider_card">
					<div class="icon">
						<svg class="icon icon-support"><use xlink:href="#icon-support"></use></svg>
					</div>
					<div class="desc">
						support 24/7
					</div>
				</div>
			</div>
		</div>

	</div>
	
</div>