<div class="home-slider">
	<div class="row m-0">
		<div class="col-md-3">
			<div class="home-slider_categories">
				<ul>
					<li>
						<span>
							
						</span>
						<span>
							Electronique
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Accessoires et montres
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Chaussures
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Electroménager
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Sports
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Santé et beauté
						</span>
					</li>
					<li>
						<span>
							
						</span>
						<span>
							Meubles et décoration
						</span>
					</li>

				</ul>
			</div>
		</div>
		<div class="col-md-7">
			
		</div>
		<div class="col-md-2">
			
		</div>
	</div>
</div>