.top-header {

	background: $grey;
	padding: 10px 0;

	&_left {
		font-size: 11px;
		font-family: poppins-medium;
		letter-spacing: 1px;
		
		ul li {
			margin-right: 20px;
			display: flex;
			align-items: center;

			&:last-child {
				margin-right: 0;
			}
		}

		.icon {
			margin-right: 9px;

			.icon-tel {
				width: 16px;
				height: 16px;
			}

			.icon-truck {
				width: 16px;
				height: 12px;
			}
		}
	}

	&_right {
		ul li {
			margin-right: 12px;

			&.flag {
				font-size: 10px;

				span:first-child {
					margin-right: 10px;
				}

				.btn--flag {
					cursor: pointer;
					position: relative;
					svg {
						width: 17px;
						height: 12px;
					}

					&:before {
						content: '';
						position: absolute;
						width: 6px;
						height: 4px;
						right: -12px;
						top: 50%;
						transform: translateY(-50%);
						background: url('../img/triangle.svg') no-repeat;
					}
				}
			}
		}
	}
}